.hero {
    background: linear-gradient(146.87deg, #D09114 19.75%, #007740 111.78%);
}

.background {
    background: url("/public/hero/hero-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    .background {
        background: url("/public/hero/mobile-background.svg");
        background-position: center;
        background-repeat: no-repeat;
    }
}