.hero{
    background: linear-gradient(146.87deg, #D09114 19.75%, #007740 111.78%);
}

.background{
    background: url("/public/hero/hero-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.mainDiv{
    background: url("/public/backgrounds/background.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.clientDiv{
    background: url("/public/clients/tree.svg");
    background-repeat: no-repeat;
}