.mainDiv {
    background: url("/public/backgrounds/background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topDiv {
    background: url("/public/backgrounds/branches.svg");
    background-position-x: 50px;
    background-position-y: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

.clientDiv {
    background: url("/public/clients/tree.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1000px;
}

@media screen and (max-width: 768px) {
    .topDiv {
        background: none;
    }
    
    .clientDiv {
        background: url("/public/clients/tree.svg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: 500px;
    }
}
    
